	*{
      box-sizing: border-box;
   }
   body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, form, fieldset , button, pre {
       margin: 0;
       padding: 0;
       font-size: 14px;
       color: #111;
       font-family: 'Noto Sans KR';
       font-weight: 400;
   }
   a {
	    text-decoration: none;
	}
	ul, ol {
	    list-style: none;
	}
	
	/* 바디 */
	#f_container {
	    position: relative;
	    width: 1100px;
	    margin: 0 auto;
	}
	#f_container .main {
	    position: relative;
	    background: #fff;
	    margin-right: 50px;
	}
	.main .contents {
	    min-height: 600px;
	    padding-bottom: 50px;
	}
	.contents .subHeader {
	    border-bottom: 1px solid #ddd;
	    margin-bottom: 20px;
	    width: 100%;
	    box-sizing: border-box;
	    padding: 25px 0 35px;
	    text-align: center;
	    position: relative;
	}
	.contents .subHeader h3 {
	    font-size: 32px;
	    color: #333;
	    font-weight: bold;
	}
	.unified-search {
	    border-top: 0px;
	    padding: 0px;
	}
	.unified-search .search-box {
	    margin-bottom: 10px;
	    margin-top: 10px;
	    padding: 10px;
	    text-align: left;
	    background: rgb(248, 248, 250);
	    border: 1px solid rgb(232, 233, 238);
	    position: relative;
	    height: 62px;
	}
	.search-sort {
	    height: 30px;
	    min-height: 30px;
	}
	.search-sort .search-full {
	    width: 100%;
	}
	.search-sort .sch-rgt {
	    float: right;
	}
	.sch-rgt select {
	    border: 1px solid rgb(204, 204, 204);
	    height: 40px;
	    padding: 0px 0px 0px 10px;
	    line-height: 40px;
	}
	.search-sort .sch-rgt select {
	    width: auto;
	    min-width: 200px;
	}
	.search-sort .sch-rgt select + input[type="text"] {
	    padding: 0px 0px 0px 10px;
	    width: calc(100% - 500px);
	    border: 1px solid rgb(204, 204, 204);
	    height: 40px;
	    line-height: 40px;
	}
	.sch-rgt .ibtn.navy {
	    margin-right: 0px;
	    border-color: rgb(14, 59, 100);
	}
	.sch-rgt .ibtn.form * {
	    height: 38px;
	    line-height: 38px;
	}
	.ibtn button {
	    font-weight: bold;
	    font-size: 14px;
	    width: 100%;
	    min-width: 70px;
    	padding: 0px;
	}
	.ibtn.form {
	    padding: 0px;
	}
	.search-box .ibtn {
	    margin-left: 10px;
	}
	.search-box .ibtn {
	    width: auto !important;
	}
	.ibtn.navy {
	    background: rgb(14, 59, 100);
	}
	.ibtn * {
	    cursor: pointer;
	    margin: 0px;
	    background: transparent;
	    border: 0px;
	}
	.ibtn, .ibtn * {
	    position: relative;
	    margin: 0px;
	    padding: 0px;
	    display: inline-block;
	    border: 0px;
	    font-size: 12px;
	    white-space: nowrap;
	    vertical-align: top;
	    overflow: visible;
	    color: rgb(255, 255, 255);
	    text-align: center;
	    text-decoration: none !important;
	}
	.facilityList {
	    position: relative;
	    margin-top: 10px;
	    margin-bottom: 10px;
	    width: 100%;
	    border-top: 2px solid #666;
	    margin-bottom: 30px !important;
	}
	.facilityList table {
	    width: 100%;
	    table-layout: fixed;
	}
	.facilityList table thead th:first-child, .facilityList table tbody td:first-child {
	    border-left: 0;
	}
	.facilityList table thead th {
	    padding: 10px 0;
	    height: 25px;
	    background: #fafafa;
	    vertical-align: middle;
	    color: #111;
	    font-weight: bold;
	    border-bottom: 1px solid #e2e2e2;
	    border-left: 1px solid #e2e2e2;
	    text-align: center;
	}
	.facilityList table tbody td {
	    padding: 9px 10px;
	    height: 50px;
	    background: #fff;
	    vertical-align: middle;
	    border-bottom: 1px solid #e2e2e2;
	    border-left: 1px solid #e2e2e2;
	    line-height: 100%;
	    text-align: center;
	    letter-spacing: -1px;
	    word-break: break-word;
	    white-space: normal;
	}
	.facilityList table tbody td a {
		color: #333;
	}
	.facilityList table tbody td a:hover {
		text-decoration: underline;
	}
	.facilityList table tbody td:nth-child(3) {
	    text-align: left;
	}
	.w40 {
	    width: 40px !important;
	}
	.w100 {
	  width: 100px !important;
	}
	.w300 {
	    width: 300px !important;
	}
	.w400 {
	    width: 400px !important;
	}
	.w140 {
	    width: 140px !important;
	}
	.w80 {
	    width: 80px !important;
	}
	.w210 {
	    width: 210px !important;
	}
	.w830 {
	    width: 830px !important;
	}
	.paging {
	    padding-top: 10px;
	    margin-bottom: 45px;
	    width: 100%;
	    text-align: center;
	}
	.paging a {
	    display: inline-block;
	    vertical-align: middle;
	    min-width: 36px;
	    height: 36px;
	    border-radius: 5px;
	    background: #fff;
	    box-shadow: none;
	    font-size: 15px;
	    line-height: 36px;
	    text-align: center;
	    text-decoration: none;
	    color: #555;
	}
	.paging b {
	    display: inline-block;
	    vertical-align: middle;
	    min-width: 36px;
	    height: 36px;
	    border-radius: 5px;
	    background: rgb(14, 59, 100);
	    box-shadow: 0px 2px 0px #d6d6d6;
	    font-size: 15px;
	    font-weight: bold;
	    line-height: 36px;
	    text-align: center;
	    text-decoration: none;
	    color: #fff;
	}
	.paging a.linkFirstPrevPage {
	    display: inline-block;
	    width: 36px;
	    height: 34px;
	    box-shadow: 0px 2px 0px #d6d6d6;
	    border: 1px solid #ccc;
	}
	.paging a.linkPrevPage {
	    display: inline-block;
	    width: 36px;
	    height: 34px;
	    box-shadow: 0px 2px 0px #d6d6d6;
	    border: 1px solid #ccc;
	}
	.paging a.linkNextPage {
	    display: inline-block;
	    width: 36px;
	    height: 34px;
	    box-shadow: 0px 2px 0px #d6d6d6;
	    border: 1px solid #ccc;
	}
	.paging a.linkLastNextPage {
	    display: inline-block;
	    width: 36px;
	    height: 34px;
	    background: url(/dolbomi/images/board/btn_lastNext.png) no-repeat 50% 50%;
	    box-shadow: 0px 2px 0px #d6d6d6;
	    border: 1px solid #ccc;
	}
	
	/* 시설 상세페이지 */
	.subTitle01 {
	    padding-top: 15px;
	    color: #444;
	    font-size: 24px;
	    font-weight: bold;
	}
	.facilityDetail {
	    position: relative;
	    margin-top: 10px;
	    border-top: 2px solid #666;
	}
	.facilityDetail tbody th {
	    vertical-align: middle;
	    box-sizing: border-box;
	    background: #f9f9f9;
	    text-align: left;
	    padding: 15px 5px 15px 20px;
	    border-bottom: 1px solid #e2e2e2;
	    font-size: 16px;
	    color: #111;
	}
	.facilityDetail tbody td {
	    box-sizing: border-box;
	    background: #fff;
	    border-bottom: 1px solid #e2e2e2;
	    padding: 9px 20px;
	    font-size: 16px;
	    color: #000;
	    line-height: 34px;
	    word-break: break-word;
	    white-space: normal;
	}
	.facilityDetail tbody td img {
	    width: 400px;
	    height: 250px;
	    margin-right: 30px;
	}
	.btn_apply  {
		position: relative;
	    text-align: center;
	    min-height: 56px;
	    margin: 40px auto 50px;
	    vertical-align: top;
	    overflow: hidden;
	    padding-bottom: 3px;
	}
	.ibtn {
	    width: 100px;
	    height: 40px;
	    border-color: #1c5a94;
	    color: #fff;
	    background-color: #1c5a94;
	    font-size: 16px;
	    font-weight: bold;
	    cursor: pointer;
	}
	.rightBtn {
	    position: absolute;
	    right: 0;
	    top: 0;
	}
	.btnWhite {
		display: inline-block;
	    background: #fff;
	    color: #1c5a94;
	    font-size: 16px;
	    height: 40px;
	    width: 100px;
	    border: 1px solid #bababa;
	    font-weight: bold;
	    padding-top: 5px;
	}
	.navyBtn {
	    position: relative;
	    margin: 0;
	    display: inline;
	    text-decoration: none !important;
	    vertical-align: top;
	    color: #fff;
	    text-align: center;
	    margin-right: 4px;
	    border: 1px solid #ddd;
	    background: #1c5a94;
	    margin-left: 5px;
	    cursor: pointer;
	    line-height: 28px;
	    padding: 0 10px;
	    min-width: 60px;
	}
	._formStyle-layer-wrap {
	    overflow-x: hidden;
	    overflow-y: auto;
	    position: fixed;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    z-index: 1001;
	    background: rgba(0, 0, 0, .6);
	}
	._formStyle-layer {
	    position: absolute;
	    top: 100px;
	    left: 50%;
	    z-index: 1002;
	    width: 740px;
	    transform: translateX(-50%);
	}
	._formStyle-layer-inner {
	    position: relative;
	}
	._formStyle-layer-title {
	    display: block;
	    padding: 15px 85px 15px 30px;
	    color: #fff;
	    font-size: 20px;
	    font-weight: 500;
	    background-color: #013763;
	}
	.os-care-review-group {
	    background-color: #fff;
	}
	.os-care-review {
	    padding: 30px 30px 0;
	    border-bottom: 1px solid #e5e5e5;
	}
	.os-care-review-title {
	    overflow: hidden;
	    margin-bottom: 15px;
	}
	.os-care-review-title strong {
	    font-size: 19px;
	    font-weight: bold;
	}
	.os-rating {
		float: right;
	    display: inline-block;
	    overflow: hidden;
	    vertical-align: middle;
	}
	.os-rating-medium {
	    position: relative;
	    width: 120px;
	    height: 20px;
	}
	.os-rating-medium-inner {
	    width: 0;
	    height: 20px;
	}
	.os-rating .os-rating-select {
	    overflow: hidden;
	    position: absolute;
	    top: 0;
	    left: 0;
	}
	.os-rating .os-rating-select li {
	    float: left;
	    width: 20%;
	}
	.os-rating .os-rating-select li button {
	    display: block;
	    overflow: hidden;
	    width: 100%;
	    height: 20px;
	    color: transparent;
	    text-indent: 100%;
	    white-space: nowrap;
	    background: none;
	    cursor: pointer;
	    border: 0;
	}
	.os-care-review-write {
	    position: relative;
	    margin-bottom: 30px;
	    padding-right: 70px;
	}
	.os-care-review-write input[type='text'] {
	    box-sizing: border-box;
	    width: 100%;
	    height: 40px;
	    padding: 0 10px;
	    border: 1px solid #ddd;
	}
	.os-care-review-write button {
	    position: absolute;
	    top: 0;
	    right: 0;
	    width: 64px;
	    height: 40px;
	    color: #fff;
	    font-size: 13px;
	    background-color: #344c7a;
	}
	.os-care-review-average {
	    overflow: hidden;
	    padding: 16px 30px 15px;
	    border-top: 5px solid #f1f1f1;
	}
	.os-care-review-average .os-care-review-total {
	    float: left;
	    margin-top: 5px;
	}
	.os-care-review-average .os-care-review-total strong {
	    font-weight: bold;
	}
	.os-rating span {
	    display: inline-block;
	    vertical-align: middle;
	    margin-left: 4px;
	}
	.os-rating em {
	    vertical-align: middle;
	    padding-right: 8px;
	    color: #555;
	    font-size: 13px;
	    font-style: normal;
	}
	.os-rating span strong {
	    vertical-align: middle;
	    color: #333;
	    font-size: 19px;
	}
	._formStyle-layer-close {
	    overflow: hidden;
	    position: absolute;
	    top: 15px;
	    right: 27px;
	    width: 30px;
	    height: 30px;
	    color: transparent;
	    text-indent: 100%;
	    white-space: nowrap;
	    cursor: pointer;
	}
	.os-care-review-cont-wrap {
	    overflow-y: auto;
	    padding: 0 30px;
	    height:330px;
	}
	.os-care-review-cont {
	    margin-bottom: 15px;
	    padding: 20px 28px 28px;
	    border: 1px solid #ddd;
	    border-radius: 10px;
	    background-color: #f8f8fa;
	}
	.os-care-review-cont .os-care-review-console {
	    position: relative;
	    margin-bottom: 15px;
	    padding: 0 50px 12px 0;
	    border-bottom: 1px dashed #ddd;
	}
	.os-care-review-cont .os-care-review-console .os-care-register {
	    vertical-align: middle;
	    margin-right: 14px;
	    font-weight: bold;
	}
	.os-rating {
	    display: inline-block;
	    overflow: hidden;
	    vertical-align: middle;
	}
	.os-rating-small {
	    width: 80px;
	    height: 14px;
	}
	.os-rating-small-inner {
	    overflow: hidden;
	    width: 0;
	    height: 14px;
	    color: transparent;
	    text-indent: 100%;
	    white-space: nowrap;
	}
	.os-care-review-cont .os-care-report-date {
	    display: block;
	    margin-top: 15px;
	    color: #777;
	}
	.os-care-layer-map {
	    width: 540px;
	}
	strong._formStyle-layer-title.oni {
	    padding-right: 60px;
	    font-size: 13px;
	}
	._formStyle-layer-title .pop_title {
	    font-size: 20px;
	}
	._formStyle-layer-map{
		height:440px;
	}
	
	
	/* 시설 신청 페이지*/
	.applySubTitle{
		font-size: 18px;
		font-weight: bold;
	}
	.fapplication table tbody td:nth-child(3) {
	    text-align: center;
	}