	*{
      box-sizing: border-box;
   }
   body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, form, fieldset , button, pre {
       margin: 0;
       padding: 0;
       font-size: 14px;
       color: #111;
       font-family: 'Noto Sans KR';
       font-weight: 400;
   }
   a {
	    text-decoration: none;
	}
	ul, ol {
	    list-style: none;
	}
	
	/* 헤더 */
	#header {
	    position: relative;
	    width: 100%;
	    min-width: 1280px;
	    height: 120px;
	}
	#header h1 {
	    position: absolute;
	    left: 50%;
	    top: 35px;
	    margin-left: -640px;
	    width: 199px;
	    height: 45px;
	    padding: 20px 0;
	    z-index: 30;
	}
	#header .utileMenu2 {
	    position: relative;
	    width: 100%;
	    text-align: right;
	    padding: 8px 0;
	    max-width: 1010px;
	    margin: 0 auto;
	    z-index: 30;
	}
	#header .utileMenu2 li {
	    display: inline-block;
	}
	#header .utileMenu2 li a {
	    display: block;
	    padding: 0px 10px;
	    border-left: 1px solid #d1d1d1;
	    font-size: 15px;
	    color: #444;
	}
	#header .utileMenu2 li:first-child a {
	    border-left: 0;
	    display: block;
	    width: 200px;
	    text-align: right;
	}
	#header .gnb {
	    position: absolute;
	    top: 40px;
	    width: 100%;
	    min-width: 1280px;
	    background: #fff;
	    z-index: 20;
	}
	#header .gnb>div {
	    position: relative;
	    width: 1280px;
	    margin: 0 auto;
	    box-sizing: border-box;
	    padding-left: 290px;
	}
	#header .gnb>div .gnbMenu {
	    display: block;
	    position: relative;
	    box-sizing: border-box;
	    overflow: hidden;
	}
	#header .gnb>div .gnbMenu>li {
	    display: inline-block;
	    width: 228px;
	    vertical-align: top;
	    float: left;
	}
	#header .gnb>div .gnbMenu>li>a {
	    box-sizing: border-box;
	    display: block;
	    height: 80px;
	    line-height: 70px;
	    text-align: center;
	    color: #222;
	    font-size: 18px;
	    font-weight: bold;
	}
	
	/* 푸터 */
	#footer {
	    clear: both;
	    position: relative;
	    width: 100%;
	    min-width: 1280px;
	    padding-bottom: 30px;
	    z-index: 20;
	}
	#footer .footerIn {
	    width: 1280px;
	    margin: 0 auto;
	    position: relative;
	}
	.footerIn .logo {
	    position: absolute;
	    left: 0;
	    top: 95px;
	}
	.footerIn .firstLine {
	    display: block;
	    padding-left: 280px;
	    width: 1000px;
	}
	.footerMenu {
	    display: inline-block;
	    padding: 20px 0;
	    width: 750px;
	}
	.footerMenu li {
	    display: inline-block;
	}
	.footerMenu li a {
	    display: block;
	    padding: 0 12px 0 0;
	    font-size: 16px;
	    color: #ccc;
	}
	
	.twoLine {
	    position: relative;
	    display: block;
	    padding-left: 280px;
	    width: 1000px;
	    margin: 0 auto;
	    padding-top: 25px;
	}
	.twoLine dl dt {
	    margin-top: 10px;
	    display: inline-block;
	    font-size: 16px;
	    color: #bbb;
	}
	.blind {
	    overflow: hidden;
	    position: absolute;
	    width: 0;
	    height: 0;
	    font-size: 0;
	    line-height: 0;
	    background: none;
	    border: 0;
	}
	.twoLine dl dd.block {
	    display: block;
	}
	.twoLine dl dd {
	    display: inline-block;
	    font-size: 16px;
	    color: #bbb;
	}
	.twoLine dl dt {
	    margin-top: 10px;
	    display: inline-block;
	    font-size: 16px;
	    color: #bbb;
	}
	.twoLine dl dd strong {
	    padding-left: 25px;
	    font-size: 20px;
	    color: #fff;
	}
	.twoLine p {
	    margin-top: 15px;
	    display: block;
	    font-size: 14px;
	    color: #bbb;
	}
	
	/* 바디 */
	#container {
	    position: relative;
	    width: 1200px;
	    margin: 0 auto;
	}
	#container .main {
	    position: relative;
	    background: #fff;
	}
	.main .visualSlide {
		width: 1100px;
	    height: 400px;
	    position: relative;
	}
	.theNewestArea {
	    width: 1200px;
	    overflow: hidden;
	    margin: 0 auto;
	    padding: 40px 0;
	}
	.newestBoard {
	    position: relative;
	    width: 590px;
	    float: left;
	    margin-right: 30px;
	}
	.mainNotice {
	    position: relative;
	    border: 1px solid #ddd;
	    background: #fff;
	    padding: 25px 30px;
	    margin-top: 50px;
	}
	.mainNotice h2 {
	    display: inline-block;
	    position: absolute;
	    left: 5px;
	    top: -50px;
	    font-size: 24px;
	    font-weight: bold;
	    height: 28px;
	    background: none;
	}
	.mainNotice ul {
	    display: block;
	    width: 580px;
	}
	.mainNotice ul li {
	    padding: 12px 0;
	    display: block;
	}
	.mainNotice ul li a {
	    display: block;
	    width: 580px;
	    overflow: hidden;
	}
	.mainNotice ul li a strong {
	    font-size: 18px;
	    color: #333;
	    float: left;
	    width: 430px;
	    display: inline-block;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	}
	.mainNotice ul li a span {
	    font-size: 16px;
	    color: #5b4f41;
	    float: left;
	    width: 100px;
	    text-align: right;
	}
	.newestBoard .moreBtnBoard {
	    position: absolute;
	    right: 0;
	    top: -55px;
	    font-size: 16px;
	    color: #000;
	    width: 92px;
	    height: 30px;
	    line-height: 29px;
	    padding-left: 30px;
	    border: 1px solid #333;
	    border-radius: 30px;
	}
	.facilityBanner {
	    float: left;
	    width: 480px;
	    height: 232px;
	    position: relative;
	}
	.facilityBanner ul li a strong {
		width: 330px;
	}
