	*{
      box-sizing: border-box;
   }
   body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, form, fieldset , button, pre {
       margin: 0;
       padding: 0;
       font-size: 14px;
       color: #111;
       font-family: 'Noto Sans KR';
       font-weight: 400;
   }
   a {
	    text-decoration: none;
	}
	ul, ol {
	    list-style: none;
	}
	
	/* 리스트 */
	#a_container {
	    position: relative;
	    width: 1100px;
	    margin: 0 auto;
	}
	#a_container .main {
	    position: relative;
	    background: #fff;
	    margin-right: 50px;
	}
	.main .contents {
	    min-height: 600px;
	    padding-bottom: 50px;
	}
	.contents .subHeader {
	    border-bottom: 1px solid #ddd;
	    margin-bottom: 20px;
	    width: 100%;
	    box-sizing: border-box;
	    padding: 25px 0 35px;
	    text-align: center;
	    position: relative;
	}
	.contents .subHeader h3 {
	    font-size: 32px;
	    color: #333;
	    font-weight: bold;
	}
	.applyList {
	    position: relative;
	    margin-top: 10px;
	    margin-bottom: 10px;
	    width: 100%;
	    border-top: 2px solid #666;
	    margin-bottom: 30px !important;
	}
	.applyList table {
	    width: 100%;
	    table-layout: fixed;
	}
	.w40 {
	    width: 40px !important;
	}
	.w100 {
	  width: 100px !important;
	}
	.w300 {
	    width: 300px !important;
	}
	.w350 {
	    width: 350px !important;
	}
	.w140 {
	    width: 140px !important;
	}
	.w80 {
	    width: 80px !important;
	}
	.w210 {
	    width: 210px !important;
	}
	.w830 {
	    width: 830px !important;
	}
	.w415 {
	    width: 415px !important;
	}
	.applyList table thead th {
	    padding: 10px 0;
	    height: 25px;
	    background: #fafafa;
	    vertical-align: middle;
	    color: #111;
	    font-weight: bold;
	    border-bottom: 1px solid #e2e2e2;
	    border-left: 1px solid #e2e2e2;
	    text-align: center;
	}
	.applyList table thead th:first-child, .applyList table tbody td:first-child {
	    border-left: 0;
	}
	.applyList table tbody td {
	    padding: 9px 10px;
	    height: 50px;
	    background: #fff;
	    vertical-align: middle;
	    border-bottom: 1px solid #e2e2e2;
	    border-left: 1px solid #e2e2e2;
	    line-height: 100%;
	    text-align: center;
	    letter-spacing: -1px;
	    word-break: break-word;
	    white-space: normal;
	}
	.applyList table tbody td a {
	    color: #333;
	}
	.applyList table tbody td a:hover {
		text-decoration: underline;
	}
	.navyBtn {
	    position: relative;
	    margin: 0;
	    display: inline;
	    text-decoration: none !important;
	    vertical-align: top;
	    color: #fff;
	    text-align: center;
	    border: 1px solid #ddd;
	    background: #1c5a94;
	    margin-left: 5px;
	    cursor: pointer;
	    line-height: 28px;
	    min-width: 60px;
	}
	._formStyle-layer-wrap {
	    display: none;
	    overflow: hidden auto;
	    position: fixed;
	    inset: 0px;
	    z-index: 1001;
	    background: rgba(0, 0, 0, 0.6);
	}
	._formStyle-layer {
	    position: absolute;
	    top: 100px;
	    left: 50%;
	    z-index: 1002;
	    width: 740px;
	    transform: translateX(-50%);
	}
	._formStyle-layer-inner {
	    position: relative;
	}
	._formStyle-layer-title {
	    display: block;
	    padding: 15px 85px 15px 30px;
	    color: rgb(255, 255, 255);
	    font-size: 20px;
	    font-weight: 500;
	    background-color: rgb(1, 55, 99);
	}
	.os-care-review-group {
	    background-color: rgb(255, 255, 255);
	}
	.os-care-review {
	    padding: 30px 30px 0px;
	    border-bottom: 1px solid rgb(229, 229, 229);
	}
	.os-care-review-title {
	    overflow: hidden;
	    margin-bottom: 15px;
	}
	.os-care-review-title strong {
	    font-size: 19px;
	    font-weight: bold;
	}
	.os-care-review-title .os-rating {
	    float: right;
	    display: inline-block;
	    overflow: hidden;
	    vertical-align: middle;
	}
	.os-rating-medium {
	    position: relative;
	    width: 120px;
	    height: 20px;
	}
	.os-rating-medium-inner {
	    width: 0px;
	    height: 20px;
	}
	.os-rating .os-rating-select {
	    overflow: hidden;
	    position: absolute;
	    top: 0px;
	    left: 0px;
	}
	.os-rating .os-rating-select li {
	    float: left;
	    width: 20%;
	}
	.os-rating .os-rating-select li button {
	    display: block;
	    overflow: hidden;
	    width: 100%;
	    height: 20px;
	    color: transparent;
	    text-indent: 100%;
	    white-space: nowrap;
	    background: none;
	    cursor: pointer;
	    border: 0;
	}
	.os-care-review-write {
	    position: relative;
	    margin-bottom: 30px;
	    padding-right: 70px;
	}
	.os-care-review-write input[type="text"] {
	    box-sizing: border-box;
	    width: 100%;
	    height: 40px;
	    padding: 0px 10px;
	    border: 1px solid rgb(221, 221, 221);
	}
	.os-care-review-write button {
	    position: absolute;
	    top: 0px;
	    right: 0px;
	    width: 64px;
	    height: 40px;
	    color: rgb(255, 255, 255);
	    font-size: 13px;
	    background-color: rgb(52, 76, 122);
	   	cursor: pointer;
	}
	._formStyle-layer-close {
	    overflow: hidden;
	    position: absolute;
	    top: 15px;
	    right: 27px;
	    width: 30px;
	    height: 30px;
	    color: transparent;
	    text-indent: 100%;
	    white-space: nowrap;
	    cursor: pointer;
	}
	.os-care-review-cont-wrap {
	    overflow-y: auto;
	    padding: 30px 30px;
	}
	.os-care-review-cont {
	    margin-bottom: 15px;
	    padding: 20px 28px 28px;
	    border: 1px solid #ddd;
	    border-radius: 10px;
	    background-color: #f8f8fa;
	}
	.os-care-review-cont .os-care-review-console {
	    position: relative;
	    margin-bottom: 15px;
	    padding: 0 50px 12px 0;
	    border-bottom: 1px dashed #ddd;
	}
	.os-care-review-cont .os-care-review-console .os-care-register {
	    vertical-align: middle;
	    margin-right: 14px;
	    font-weight: bold;
	}
	.os-rating {
	    display: inline-block;
	    overflow: hidden;
	    vertical-align: middle;
	}
	.os-rating-small {
	    width: 80px;
	    height: 14px;
	}
	.os-rating-small-inner {
	    overflow: hidden;
	    width: 0;
	    height: 14px;
	    color: transparent;
	    text-indent: 100%;
	    white-space: nowrap;
	}
	.os-care-review-cont .os-care-report-date {
	    display: block;
	    margin-top: 15px;
	    color: #777;
	}
	.wrapBtn{
		text-align: right;
	}
	
	/* 신청 상세정보 */
	.applySubTitle {
	    font-size: 18px;
	    font-weight: bold;
	}
	.applyDetail {
	    position: relative;
	    margin-top: 10px;
	    border-top: 2px solid #666;
	    margin-bottom: 20px;
	}
	.applyDetail tbody th {
	    vertical-align: middle;
	    box-sizing: border-box;
	    background: #f9f9f9;
	    text-align: left;
	    padding: 15px 5px 15px 20px;
	    border-bottom: 1px solid #e2e2e2;
	    font-size: 16px;
	    color: #111;
	}
	.applyDetail tbody td {
	    box-sizing: border-box;
	    background: #fff;
	    border-bottom: 1px solid #e2e2e2;
	    padding: 9px 20px;
	    font-size: 16px;
	    color: #000;
	    line-height: 34px;
	    word-break: break-word;
	    white-space: normal;
	}
	.btn_apply {
	    position: relative;
	    text-align: right;
	    min-height: 56px;
	    margin: 40px auto 50px;
	    vertical-align: top;
	    overflow: hidden;
	    padding-bottom: 3px;
	}
	.ibtn {
	    width: 100px;
	    height: 40px;
	    border-color: #1c5a94;
	    color: #fff;
	    background-color: #1c5a94;
	    font-size: 16px;
	    font-weight: bold;
	    cursor: pointer;
	}
	.btnWhite {
	    display: inline-block;
	    background: #fff;
	    color: #1c5a94;
	    font-size: 16px;
	    height: 40px;
	    width: 100px;
	    border: 1px solid #bababa;
	    font-weight: bold;
	    cursor: pointer;
	}